.filter {
  background:#eee;
  padding:5px;
  border:1px solid #aaa;
}

.filter input {
  background:transparent;
  color:black;
  font-size:20px;
  border:0;
  width:90%;
}

.filter input:focus {
  outline:0;
}

.grid {
  margin:0 auto;
  width:600px;
}

.cell {
  line-height:150px;
  width:150px;
  font-size:1.5em;
  text-align:center;
  border:1px solid #ddd;
  float:left;
}
